# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMAKE
CMakeFiles/
build/
*.cmake
CMakeCache.txt

# Visual Studio Code
.vscode/settings.json

fairytale
fairytale.dSYM
runTests
gtest_main.pc
gtest.pc
googletest-src/
googletest-download/
googletest-build/
gmock_main.pc
gmock.pc
.idea/
*.swp
